version: 2.1
commands:
    print_pipeline_id:
        steps:
            - run: echo ${CIRCLE_WORKFLOW_ID}
            
            - run:
                name: on error
                command: echo Hello Error
                when: on_fail
jobs:
    create_helloWorld_file:
        docker:
           - image: circleci/node:13.8.0
        steps: 
           - run: echo "Hello Shubieee!" > ~/output1.txt
           - persist_to_workspace:
                 root: ~/
                 paths:
                     - output1.txt

    print_helloWorld_file:
        docker:
           - image: circleci/node:13.8.0
        steps:
           - attach_workspace:
                 at: ~/
           - run: cat ~/output1.txt

    my_job:
        docker:
           - image: circleci/node:13.8.0
        steps:
           - print_pipeline_id


workflows:
    welcome:
        jobs:
           - create_helloWorld_file
           - print_helloWorld_file:
                 requires:
                     - create_helloWorld_file
           - my_job